.Answers{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Answers li{
    border: 3px solid #bbe1fa;
    padding: 14px;
    border-radius: 10px;
    background-color: #16213e;
    margin: 0 0 5px;
    color: #fff;
}

.Answers li:hover{
    cursor: pointer;
    background-color: #30475e;
}

.Answers .correct,
.Answers .correct:hover{
    background-color: #09f911;
    
    color: #fff;
}

.Answers .incorrect,
.Answers .incorrect:hover{
    background-color: #ec0000;
    
    color: #fff;
}

.Answers[disabled]{
    pointer-events: none;
    
}

.caption p{
    color: #fff ;
}